<div class="splash-screen position-relative vh-100">
  <h1 class='app-name position-absolute bottom-50 vw-100 text-center'>Budget App</h1>
  <div class="splash-buttons d-grid gap-2 vw-100 position-absolute bottom-0 mb-4">
    <button class='btn btn-primary w-75 mx-auto'> Sign Up </button>
    <button class='btn bt-transparent w-75 mx-auto'> Log In </button>
  </div>
</div>