<div class='categories-list'>
  <ul class='list-group'>
    <% @categories.each do |category| %>
      <%= render 'category_card', category: category %>
    <% end %>
  </ul>
</div>
<footer class="footer vw-100 py-3 bg-secondary fixed-bottom">
  <div class='d-flex justify-content-center'>
    <%= link_to 'Create category', new_category_path, class:'btn btn-outline-light w-75' %>
  </div>
</footer>